<!DOCTYPE html>
<html>
  <head>
    <title>Resumepdfparser</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if flash[:notice].present? %>
      <p><%= link_to flash[:notice], upload_download_result_path(), method: :get %></p>
    <% end %>
  </body>
</html>
